body{
	font-family: 'Montserrat', sans-serif;
	height: auto;
}

main{
	padding: 30px;
	background: linear-gradient(white, rgb(71, 71, 71));
	
}

header{
	background: rgb(48, 48, 48);
	padding: 20px 0;
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.imagem-header{
	width: 300px;
	height: 200px;
}

nav{
	position: absolute;
	top: 110px;
	right: 0;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}

form{
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

/* css da pagina inicial */
.banner{
	width: 100%
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0.5em 0 1em;
	clear: left;
}

.principaL {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p{
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em{
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa-conteudo{
	width: 940px;
	margin: 0 auto;
	display: block;
}

.beneficios{
	padding: 3em 0;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios{
	width: 100%;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 20px;
	text-align: center;
}

.primeiro-icone, .icones{
	width: 30px;
	height: 30px;
}

.icones{
	padding-left: 100px;
}

.listas-icones, .listas-icones-sites{
	padding-left: 10px;
}

ul a{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

ul a.listas-icones-sites:hover{
	color: white;
	text-decoration: underline;
}

.itens{
	line-height: 1.5;
}

.itens:first-child{
	font-weight: bold;
}

.itens:before {
	content: "🟊";
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 50px 0px;
}

.texto-footer{
	color: #FFFFFF;
	font-size: 30px;
	margin-top: 20px;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
}

@media screen and (max-width: 480px){
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
		width: auto;
	}

	h1{
		text-align: center;
	}

	nav{
		position: static;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
}